.wrap {
  display: flex;
  .wrapItems {
    margin: 0.6em;

    h4 {
      display: flex;
      line-height: 0.1;
      color: #787c90;
      font-size: .6em;
    }

    p {
      color: #262626;
      font-size: 1.3em;
      line-height: 0.2;
    }
    img {
      width: 4em;
      height: 4em;
    }
  }
}
