.container {
    display: flex;
    border: 2px solid red;
    .containerBoxes {
        flex: 1;
        
    }
    .box1 {
    max-width: 18%;
    height: 100vh;
    border: 2px solid green;
    }
    .box2 {
        padding: .4em 1.5em .3em .6em;
        background: #E5E5E5;

        .box2__topChart{
            display: flex;
            flex-wrap: wrap;
           
            .topChart--items{
                background: #FFF;
                margin: .5em;
                flex: 1;
            }
        }

        .chart {
            display: flex;
            margin-right: .5em;
            margin-left: .4em;
            // border: 2px solid orange;

            .chart__items {
            background: #FFF;
            flex: 1;

            }
            .chart--area {
           
            margin-right: .2em;

            }

            .right-record {
            max-width: 30%;
            padding-left: 1em;
            }
        }
         h2 {
        color: #262626;
        font-weight: 400;
    }
    .table-data {
        display: flex;
        border: 2px solid red;
    }
    }
   
}
